<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    </head>
    <body>
        <table border="1px">
            <tr>
                <td>id</td>
                <td>nome</td>
                <td>descricao</td>
                <td>preco</td>
            </tr>
            <tr>
                <% for(var i=0; i<lista.length; i++) {%>
                    <tr>
                        <td><%= lista[i].id %></td>
                        <td><%= lista[i].titulo %></td>
                        <td><%= lista[i].preco %></td>
                        <td><%= lista[i].descricao%></td>
                    </tr>
                <% } %>
            </tr>
        </table>
        <script>

        
            var ws = new WebSocket('ws://localhost:3000/novas/promocoes');
            ws.onmessage = function(data) {
                //
            };
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
            socket.on('novaPromocao', function(data) {
                alert('Livro em promocao'+data.livro.id);
            });
        </script>
    </body>
</html>
